<div class="bg">
  <div class="container">
    <div class="row justify-content-left form-container">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="mb-4">Update Drug</h2>
          <%= render 'form', drug: @drug %>
      </div>
    </div>
  </div>
</div>


