<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi,</h1>
    <p>
      I have made an order request with the address 
      <%= @order.address %>.
    </p>
    <p>
    I hope to hear from you soon.
      
    Best regards,
    Vinssa
    </p>
    <p>
      Thank you.
    </p>
  </body>
</html>