/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require rails_bootstrap_forms
 */

 @import 'bootstrap';

 body, html {
    height: 100%;
    margin: 0;
    width: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("bg.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
  }

.bg2 {
  /* The image used */
  background-image: url("bg4.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

 .form-container{
     padding-top: 100px;
 }

 .image_outer_container{
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;
  position: relative;
}

.image_inner_container{
  border-radius: 50%;
  padding: 4px;
 background: #833ab4; 
 background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); 
 background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
}
.image_inner_container img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 3px solid white;
}

.image_outer_container .green_icon{
  background-color: #4cd137;
  position: absolute;
  right: 0px;
  bottom: 6px;
  height: 12px;
  width: 12px;
  border:2px solid white;
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .image_outer_container{
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    position: relative;
  }
  
  .image_inner_container{
    border-radius: 50%;
    padding: 4px;
   background: #833ab4; 
   background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); 
   background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
  }
  .image_inner_container img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 3px solid white;
  }
  
  .image_outer_container .green_icon{
    background-color: #4cd137;
    position: absolute;
    right: 0px;
    bottom: 6px;
    height: 12px;
    width: 12px;
    border:2px solid white;
    border-radius: 50%;
  }
  
}
.dropdown-menu{
  width: 30px !important;
}

.red{
  color: #B00100;
}

.item2 { grid-area: menu; }
.item3 { grid-area: main; }

.grid-container {
  display: grid;
  grid-template-areas:
          'menu main main main main main';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  height: 100%;
  overflow: scroll;
}

.empty_cart_grid_container{
  display: grid;
  grid-template-areas:
          'main main main main main main';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  height: 100%;
  overflow: scroll;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}

.total_line .total_cell {
  font-weight: bold;
  border-top: 1px solid #595;
}

#cart{
  padding: 30px;
  .item_price, .total_line {

    text-align: right;
  }
  .total_line .total_cell {
    font-weight: bold;
    border-top: 1px solid #595;
  }
}
